*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

h1{
    text-align: center;
    color: gray;
    font-family: "Silkscreen", sans-serif;
    margin: 0.2rem;
}

#container-div{
    background-color: azure;
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.button-div{
    display: flex;
    justify-content: center;
    margin: 1.2rem; 
    gap: 10px;
}

.choose-color{
    background-color: black;
    color: azure;
    padding:8px;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Silkscreen", sans-serif;
}

.clear-btn{
    background-color: white;
    font-family: "Silkscreen", sans-serif;
    color: black;
    padding:8px;
    border-radius: 8px;
    font-size: 18px;
}
.grid-square{
    width: 2rem;
    height: 2rem;
    background-color: #abe4af;
    padding: 4px;
    margin: 2px;
}